<div th:fragment="footer">
<!-- Footer -->
<footer class="footer">
    <div class="text-center text-lg-start text-muted container-fluid d-flex align-items-center">
        <div class="container-fluid text-center text-md-start mt-auto">
            <div class="row mt-3">
                <!-- CHI SIAMO (col-12 su mobile, col-md-4 su desktop) -->
                <div class="col-12 col-md-4 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-leaf me-3"></i>Chi siamo
                    </h6>
                    <p>
                        Da Code Blossom, il nostro amore per i fiori si riflette in ogni nostro prodotto. Offriamo
                        una vasta
                        selezione di fiori freschi, piante e composizioni, consegnati direttamente a casa tua con
                        cura e passione.
                    </p>
                </div>

                <!-- PRODOTTI (col-6 su mobile, col-md-2 su desktop) -->
                <div class="col-6 col-md-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Prodotti</h6>
                    <p><a th:href="@{/prodotti/categoria(id=1)}" class="text-reset">Fiori sfusi</a></p>
                    <p><a th:href="@{/prodotti/categoria(id=2)}" class="text-reset">Composizioni</a></p>
                    <p><a th:href="@{/prodotti/categoria(id=3)}" class="text-reset">Piante</a></p>
                </div>

                <!-- LINKS (col-6 su mobile, col-md-2 su desktop) -->
                <div class="col-6 col-md-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Links</h6>
                    <p><a th:href="@{/contattaci}" class="text-reset">Contattaci</a></p>
                    <p><a th:href="@{/lavora-con-noi}" class="text-reset">Lavora con noi</a></p>
                    <p><a th:href="@{/punti-vendita}" class="text-reset">Punti vendita</a></p>
                </div>

                <!-- CONTATTI (col-12 su mobile, col-md-4 su desktop) -->
                <div class="col-12 col-md-4 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contatti</h6>
                    <p><i class="fas fa-home me-3"></i>Via delle Rose, 42 - 00123, Roma</p>
                    <p><i class="fas fa-envelope me-3"></i><a class="text-reset" href="mailto:codeblossom@gmail.com">codeblossom@gmail.com</a>
                    <p><i class="fas fa-phone me-3"></i> +39 06 1234567</p>
                    <p><i class="fas fa-print me-3"></i> +39 345 9876543</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center p-4">
        © 2025 Copyright:
        <a class="text-reset fw-bold" href="#">CodeBlossom.com</a>
    </div>
</footer>
</div>

