<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="icon" href="../static/IMG_8942.PNG" type="image/x-icon">
    <link href="style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eater&family=Rubik+Wet+Paint&family=Sofia&display=swap"
        rel="stylesheet">
    <title>Composizioni</title>
</head>

<body>
    <!-- Inizio sezione navbar -->
    <nav class="navbar navbar-expand-lg container-fluid" id="menu">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item1">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="bi bi-house-door-fill" style="font-size: 1.5rem;"></i> <!-- Icona per Home -->
                        </a>
                    </li>
                    <li class="nav-item1">
                        <a class="nav-link" href="">
                            <i class="bi bi-person-fill" style="font-size: 1.5rem;"></i> <!-- Icona per Login -->
                        </a>
                    </li>
                    <li class="nav-item1">
                        <a class="nav-link" href="#" id="cartButton">
                            <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                            <span class="badge custom-badge" id="cartCount">0</span> <!-- Contatore del carrello -->
                        </a>
                    </li>
                    <form class="d-flex" role="search" id="searchForm">
                        <input class="form-control form-control-sm custom-search" type="search" aria-label="Search"
                            placeholder="Cerca...">
                        <button class="btn btn-outline-none" type="submit" id="searchButton">
                            <i class="bi bi-search search-icon"></i>
                        </button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Seconda Navbar (Categorie) -->
    <nav class="navbar navbar-expand-lg container-fluid" id="menulogo">
        <div class="container-fluid">
            <div>
                <img src="../static/logo1centrale.png" id="logo" class="img-fluid">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fontcategorie" href="#" id="navbarDropdownFiori"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Fiori sfusi
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownFiori">
                            <li><a class="dropdown-item" href="fiori_sfusi.html">Tutto il catalogo</a></li>
                            <li><a class="dropdown-item" href="#">Fiori rossi</a></li>
                            <li><a class="dropdown-item" href="#">Fiori bianchi</a></li>
                            <li><a class="dropdown-item" href="#">Fiori gialli</a></li>
                            <li><a class="dropdown-item" href="#">Fiori viola</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fontcategorie" href="#" id="navbarDropdownComposizioni"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Composizioni
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownComposizioni">
                            <li><a class="dropdown-item" href="composizioni.html">Tutto il catalogo</a></li>
                            <li><a class="dropdown-item" href="#">Compleanno</a></li>
                            <li><a class="dropdown-item" href="#">San Valentino</a></li>
                            <li><a class="dropdown-item" href="#">Ricorrenze</a></li>
                            <li><a class="dropdown-item" href="#">Celebrazioni religiose</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fontcategorie" href="#" id="navbarDropdownPiante"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Piante
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownPiante">
                            <li><a class="dropdown-item" href="piante.html">Tutto il catalogo</a></li>
                            <li><a class="dropdown-item" href="#">Piante da appartamento</a></li>
                            <li><a class="dropdown-item" href="#">Piante da giardino</a></li>
                            <li><a class="dropdown-item" href="#">Piante grasse</a></li>
                            <li><a class="dropdown-item" href="#">Piante da frutto</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- JavaScript per il funzionamento delle animazioni della ricerca e del menu -->
    <script>
        // Funzione per mostrare/nascondere la barra di ricerca
        document.getElementById("searchButton").addEventListener("click", function () {
            document.getElementById("searchForm").classList.toggle("active");
            this.classList.toggle("active");
        });

        // Funzione per il toggle del menu a tendina (Mobile)
        document.querySelector(".navbar-toggler").addEventListener("click", function () {
            document.getElementById("navbarSupportedContent2").classList.toggle("active");
        });
    </script>
    </div>
    <!-- Sezione dedicata alle cards dei prodotti -->
    <div class="container mt-5" id="cards-container">
        <div class="row justify-content-center g-4">
    
            <!-- Card 1 -->
            <div class="col-lg-3 col-md-6 col-12 mb-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../static/Compleanno/Arancione.jpg" class="card-img-top img-fluid" alt="Composizione fiori">
                    <div class="card-body">
                        <h5 class="card-title">Composizione di fiori freschi "Esplosione di Colori"</h5>
                        <p class="card-text">Con tulipani arancioni, gerbere rosa e margherite gialle, questa
                            composizione porta energia e positività. Un regalo che esprime felicità e buonumore,
                            perfetto per augurare il meglio a chi festeggia il proprio compleanno!</p>
                        <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€49.99</p>
                        <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <small class="text-muted">In saldo!</small>
                    </div>
                </div>
            </div>
    
            <!-- Card 2 -->
            <div class="col-lg-3 col-md-6 col-12 mb-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../static/Compleanno/ViolaBianco.jpg" class="card-img-top img-fluid" alt="mazzo di rose">
                    <div class="card-body">
                        <h5 class="card-title">Composizione di fiori "Festa di Primavera"</h5>
                        <p class="card-text">Un'armonia di fiori freschi di stagione, tra cui narcisi, margherite e
                            fresie, che portano con sé la freschezza e la gioia della primavera. Questa composizione è
                            perfetta per aggiungere un tocco di allegria e freschezza a qualsiasi festa di compleanno!
                        </p>
                        <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€39.99</p>
                        <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <small class="text-muted">In saldo!</small>
                    </div>
                </div>
            </div>
    
            <!-- Card 3 -->
            <div class="col-lg-3 col-md-6 col-12 mb-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../static/Compleanno/Pinky.jpg" class="card-img-top img-fluid" alt="ghirlanda di rose">
                    <div class="card-body">
                        <h5 class="card-title">Composizione di fiori eleganti "Dolce Serenità"</h5>
                        <p class="card-text">Un bouquet raffinato di rose bianche, peonie rosa e orchidee lilla,
                            perfetto per un compleanno speciale. La delicatezza e l'eleganza dei fiori esprimono tutta
                            la bellezza e la gioia del celebrare una nuova annata. Un regalo che conquista a prima
                            vista!</p>
                        <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€29.99</p>
                        <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <small class="text-muted">In saldo!</small>
                    </div>
                </div>
            </div>
    
            <!-- Card 4 -->
            <div class="col-lg-3 col-md-6 col-12 mb-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../static/Compleanno/Romance.jpg" class="card-img-top img-fluid" alt="albero di limone">
                    <div class="card-body">
                        <h5 class="card-title">Composizione di fiori "Romanticismo di Compleanno"</h5>
                        <p class="card-text">Un bouquet romantico con rose rosa, ortensie e garofani bianchi, perfetto
                            per un compleanno da ricordare. Ogni fiore è scelto con cura per simboleggiare l’amore, la
                            passione e la bellezza, offrendo un regalo che farà battere il cuore!</p>
                        <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€24.99</p>
                        <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al
                            carrello</a>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <small class="text-muted">In saldo!</small>
                    </div>
                </div>
            </div>

            <!-- Card 5 -->
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../static/cuoreRose.jpg" class="card-img-top img-fluid" alt="rose a forma di cuore">
                    <div class="card-body">
                        <h5 class="card-title">Composizione rose a forma di cuore</h5>
                        <p class="card-text">Il regalo perfetto per la persona che ami!... ma anche per la persona che
                            odi se gliela regali dopo averla calpestata</p>
                        <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€49.99</p>
                        <!-- Prezzo -->
                        <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <small class="text-muted">In saldo!</small>
                    </div>
                </div>
            </div>

            <!-- Card 6 -->
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="../static/mazzorosev.jpg" class="card-img-top img-fluid" alt="mazzo di rose">
                    <div class="card-body">
                        <h5 class="card-title">Mazzo di rose misto viola e rosso</h5>
                        <p class="card-text">Mazzo di rose misto viola e rosso - Smettila di farti il mazzo per
                            scegliere i colori giusti e fidati del nostro gusto! Rosso e viola sono una combinazione
                            vincente! Credo... In realtà sono daltonico.</p>
                        <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€39.99</p>
                        <!-- Prezzo -->
                        <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <small class="text-muted" style="font-size: 18px; color: red; font-weight: bold;">In
                            saldo!</small>
                    </div>
                </div>
            </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/cuorerosa.jpg" class="card-img-top img-fluid" alt="ghirlanda di rose">
            <div class="card-body">
                <h5 class="card-title">Ghirlanda di rose pink edition</h5>
                <p class="card-text">Ghirlanda di rose Barbie edition - Se ti senti un po' una Barbie Girl (o boy,
                    perchè qua siamo inclusivi!) questa è la ghirlanda che fa per te! Potrebbe contenere plastica</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€29.99</p>
                <!-- Prezzo -->
                <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/San Valentino/Passion.jpg" class="card-img-top img-fluid" alt="mazzo di rose">
            <div class="card-body">
                <h5 class="card-title">Composizione di fiori "Passione Infinita"</h5>
                <p class="card-text">Questa composizione romantica è un vero e proprio inno all'amore! Con rose rosse,
                    peonie rosa e delicate orchidee bianche, ogni fiore è scelto per rappresentare la passione, la
                    bellezza e la purezza del legame romantico. Perfetta per San Valentino, questa composizione incarna
                    l'emozione di un regalo che parla al cuore, rendendo ogni momento speciale e indimenticabile. Un
                    regalo che dimostra quanto sia profondo il tuo affetto per la persona che ami..</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€39.99</p>
                <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/Ricorrenze/Girasoli.jpg" class="card-img-top img-fluid" alt="ghirlanda di rose">
            <div class="card-body">
                <h5 class="card-title">Composizione "Trionfo di Successo"</h5>
                <p class="card-text">Un omaggio perfetto per celebrare traguardi straordinari! Questa composizione, che
                    unisce fiori freschi di girasole, calle bianche e gigli, è pensata per onorare il successo e la
                    realizzazione personale. Ogni fiore rappresenta la speranza, la purezza e la forza interiore,
                    rendendo questa creazione ideale per una laurea o un importante evento di celebrazione. Un regalo
                    che illumina e commuove!</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€29.99</p>
                <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/Ricorrenze/Lilla.jpg" class="card-img-top img-fluid" alt="albero di limone">
            <div class="card-body">
                <h5 class="card-title">Composizione "Eleganza e Successo"</h5>
                <p class="card-text">Eleganza e raffinatezza si incontrano in questa composizione perfetta per ogni tipo
                    di ricorrenza speciale. Con orchidee, rose rosa e foglie verdi, questa creazione porta un
                    messaggio di classe e realizzazione. Perfetta per lauree, promozioni o altri eventi significativi,
                    questo bouquet simboleggia il nuovo inizio e l'accomplimento di un sogno. Un pensiero che celebra il
                    futuro!</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€24.99</p>
                <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/mammillaria_cactus.webp" class="card-img-top img-fluid" alt="mammillaria cactus">
            <div class="card-body">
                <h5 class="card-title">Composizione "Vita e Nuovi Orizzonti"</h5>
                <p class="card-text">Celebra il futuro con una composizione che rappresenta l'inizio di nuove avventure!
                    Rose gialle, gerbere arancioni e margherite sono mescolate in modo armonioso per simboleggiare
                    gioia, entusiasmo e speranza. Perfetta per lauree o qualsiasi evento che segni un nuovo capitolo
                    della vita, questa composizione è un regalo che porta felicità e ottimismo.</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€19.99</p>
                <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 6 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/zamia.webp" class="card-img-top img-fluid" alt="zamia">
            <div class="card-body">
                <h5 class="card-title">Mammillaria</h5>
                <p class="card-text">Mammillaria - Un cactus tanto spinoso quanto carino! Non lasciarti ingannare:
                    punge!</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€14.99</p>
                <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted" style="font-size: 18px; color: red; font-weight: bold;">In saldo!</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/cuoreRose.jpg" class="card-img-top img-fluid" alt="rose a forma di cuore">
            <div class="card-body">
                <h5 class="card-title">Composizione rose a forma di cuore</h5>
                <p class="card-text">Il regalo perfetto per la persona che ami!... ma anche per la persona che odi se
                    gliela regali dopo averla calpestata</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€49.99</p>
                <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/mazzorosev.jpg" class="card-img-top img-fluid" alt="mazzo di rose">
            <div class="card-body">
                <h5 class="card-title">Mazzo di rose misto viola e rosso</h5>
                <p class="card-text">Mazzo di rose misto viola e rosso - Smettila di farti il mazzo per scegliere i
                    colori giusti e fidati del nostro gusto! Rosso e viola sono una combinazione vincente! Credo... In
                    realtà sono daltonico.</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€39.99</p>
                <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/cuorerosa.jpg" class="card-img-top img-fluid" alt="ghirlanda di rose">
            <div class="card-body">
                <h5 class="card-title">Ghirlanda di rose pink edition</h5>
                <p class="card-text">Ghirlanda di rose Barbie edition - Se ti senti un po' una Barbie Girl (o boy,
                    perchè qua siamo inclusivi!) questa è la ghirlanda che fa per te! Potrebbe contenere plastica</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€29.99</p>
                <a href="#" class="btn btn-danger">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/limone.webp" class="card-img-top img-fluid" alt="albero di limone">
            <div class="card-body">
                <h5 class="card-title">Albero di limoni</h5>
                <p class="card-text">Albero di limoni in vaso, da piantare successivamente nel terreno</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€24.99</p>
                <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/mammillaria_cactus.webp" class="card-img-top img-fluid" alt="mammillaria cactus">
            <div class="card-body">
                <h5 class="card-title">Zamia</h5>
                <p class="card-text">Perfetta per un regalo a qualcuno o a sé stessi, simboleggia un nuovo inizio</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€19.99</p>
                <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 6 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/zamia.webp" class="card-img-top img-fluid" alt="zamia">
            <div class="card-body">
                <h5 class="card-title">Mammillaria</h5>
                <p class="card-text">Mammillaria - Un cactus tanto spinoso quanto carino! Non lasciarti ingannare:
                    punge!</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€14.99</p>
                <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted" style="font-size: 18px; color: red; font-weight: bold;">In saldo!</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/mammillaria_cactus.webp" class="card-img-top img-fluid" alt="mammillaria cactus">
            <div class="card-body">
                <h5 class="card-title">Zamia</h5>
                <p class="card-text">Perfetta per un regalo a qualcuno o a sé stessi, simboleggia un nuovo inizio</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€19.99</p>
                <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted">In saldo!</small>
            </div>
        </div>
    </div>

    <!-- Card 6 -->
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <img src="../static/zamia.webp" class="card-img-top img-fluid" alt="zamia">
            <div class="card-body">
                <h5 class="card-title">Mammillaria</h5>
                <p class="card-text">Mammillaria - Un cactus tanto spinoso quanto carino! Non lasciarti ingannare:
                    punge!</p>
                <p class="card-price" style="font-size: 18px; font-weight: bold; color: #e74c3c;">€14.99</p>
                <a href="#" class="btn" style="background-color: #cdb7dd; color: black;">Aggiungi al carrello</a>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <small class="text-muted" style="font-size: 18px; color: red; font-weight: bold;">In saldo!</small>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!--  Inizio Footer -->
    <div class="footer text-center text-lg-start text-muted container-fluid d-flex align-items-center">
        <div class="container-fluid text-center text-md-start mt-auto">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Chi siamo
                    </h6>
                    <p>
                        Da Code Blossom, il nostro amore per i fiori si riflette in ogni nostro prodotto. Offriamo una
                        vasta
                        selezione di fiori freschi, piante e composizioni, consegnati direttamente a casa tua con cura e
                        passione.
                        Un
                        luogo dove la bellezza naturale prende forma attraverso creazioni eleganti e raffinate, pensate
                        per ogni
                        occasione.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Prodotti
                    </h6>
                    <p><a href="#!" class="text-reset">Fiori sfusi</a></p>
                    <p><a href="#!" class="text-reset">Composizioni</a></p>
                    <p><a href="#!" class="text-reset">Piante</a></p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Links
                    </h6>
                    <p><a href="#!" class="text-reset">Contattaci</a></p>
                    <p><a href="#!" class="text-reset">Lavora con noi</a></p>
                    <p><a href="#!" class="text-reset">FAQ</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contatti</h6>
                    <p><i class="fas fa-home me-3"></i>Via delle Rose, 42 - 00123, Roma</p>
                    <p><i class="fas fa-envelope me-3"></i>codeblossom@gmail.com</p>
                    <p><i class="fas fa-phone me-3"></i> +39 06 1234567</p>
                    <p><i class="fas fa-print me-3"></i> +39 345 9876543</p>
                </div>
            </div>
        </div>
    </div>
    <div class=" footer text-center p-4">
        © 2025 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">CodeBlossom.com</a>
    </div>
    </footer>

</body>

</html>