<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrello</title>
</head>
<body>
<h1>Benvenuto nel tuo carrello!</h1>
<div>
    <a th:href="@{/}">Torna in home page</a>
</div>
<h4 th:if="${carrello == null}">Non hai alcun prodotto nel carrello</h4>
<table th:if="${carrello != null}">
    <tr th:each="prodotto : ${carrello}">
        <td th:text="${prodotto.nome}"></td>
        <td th:text="${#numbers.formatDecimal(prodotto.prezzo, 0, 'POINT', 2, 'COMMA')}"></td>
        <td>
            <a th:href="@{/carrello/rimuovi(id=${prodotto.id})}">Rimuovi</a>
        </td>
    </tr>
</table>

<h5 th:if="${carrello != null}" th:text="|Totale carrello ${#numbers.formatDecimal(totale, 0, 'POINT', 2, 'COMMA')} euro|"></h5>

<form action="/carrello/invio" method="post" th:if="${carrello != null}">
    <label for="destinazione">Indirizzo di destinazione (solo via):</label>
    <input type="text" id="destinazione" name="destinazione" required>

    <label for="note">Note per l'ordine (opzionale):</label>
    <textarea id="note" name="note"></textarea>

    <button type="submit">Invia Ordine</button>
</form>

<p th:if="${send != null}">Il pagamento con Paypal è andato a buon fine. L'ordine verrà gestito dal punto vendita più vicino.</p>
</body>
</html>
