<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<div>
    <a th:if="${utente == null}" th:href="@{/login}">Accedi</a>
    <a th:if="${utente == null}" th:href="@{/registrazione}">Registrati</a>
    <a th:if="${utente != null}" th:href="@{/profilo}">Profilo</a>
    <a th:if="${utente != null}" th:href="@{/carrello}">Carrello</a>

</div>
<table>
    <tr th:each="prodotto : ${prodotti}">
        <td th:text="${prodotto.nome}">Nome prodotto</td>

        <td th:text="${prodotto.descrizione}">Descrizione prodotto</td>
        <td th:text="${#numbers.formatDecimal(prodotto.prezzo, 0, 'POINT', 2, 'COMMA') }">Prezzo </td>
        <td th:text="${prodotto.foto} ">Foto</td>
        <td th:if="${utente != null}" ><a th:href="@{/carrello/aggiungi(id=${prodotto.id})} ">Aggiungi a Carrello</a></td>
        <td>
        <p th:if="${add != null}" th:text="${add.equals('yes') ? 'Prodotto aggiunto' : 'Prodotto già presente'}"
        th:style="${add.equals('yes') ? 'color:green' : 'color:red'}"></p>
        </td>
    </tr>
</table>
</body>
</html>