@charset "utf-8";

/* I dropdown menu si aprono al passaggio del mouse */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1; /* Imposta l'opacità a 1 per la visibilità */
    transition: opacity 0.5s ease; /* Aggiungi la transizione di dissolvenza */
}

.nav-item.dropdown .dropdown-menu {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    top: 100%; /* Posiziona il menu appena sotto la voce di navigazione */
    left: -10px; /* Posiziona il menu allineato con il bordo sinistro */
    opacity: 0;
    transition: opacity 0.30s ease; /* Aggiungi la transizione di dissolvenza */
    width: auto; /* Imposta la larghezza automatica in base al contenuto */
    min-width: 200px; /* Larghezza minima per ogni dropdown */
    max-width: calc(100vw ); /* Impedisce che il dropdown esca dalla pagina (100% della larghezza - margine) */
}

/* Distanza tra i dropdown */
.dropdown-menu {
    display: flex !important;  /* Utilizza Flexbox per i menu a discesa */
    flex-direction: column;  /* Imposta gli items in colonna */
    gap: 10px;  
    padding: 10px !important;
    margin: 0 !important;
}

/* Impedisce che il testo negli items vada a capo */
.dropdown-item {
    white-space: nowrap !important;  /* Impedisce il ritorno a capo */
    display: inline-block !important;  /* Fa in modo che gli items siano trattati come inline-block */
    transition: color 0.3s ease;  /* Aggiunge una transizione per il colore del testo */
    font-family: "Sofia", serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.fontcategorie {
    font-family: "Sofia", serif;
    font-size: 35px;
    color: black;
    margin-top: 8px;
    margin-right: 90px;
}

.nav-link.dropdown-toggle:hover {
    color: #368c71 !important;  /* Colore del testo rosa */
    
    transition: color 0.40s ease;  /* Transizione fluida per il colore del testo */
}

body {
    background-color: #EDEDE9;
}

.footer {
    background-color: #cdb7dd ;
}

#menulogo {
    background-color: #cdb7dd ;
    height: 140px;
}

#logo {
    width: 400px;
}

.custom-badge {
    background-color: #368c71; /* Verde */
    color: white;
}

.search-icon {
    color: green; /* Colore personalizzato */
    font-size: 18px; /* Dimensione personalizzata */
}

.custom-search {
    width: 200px;  /* Imposta la larghezza fissa */
    height: 40px;
    margin-top: 10px;
}

.nav-item1 {
    margin-right: 50px;  /* Aggiunge spazio tra gli elementi della navbar */
    font-size: 20px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:hover {
    color: rgb(214, 68, 92);  /* Colore del testo */
}

.navbar-nav .nav-item {
    margin-right: 30px;  /* Aggiunge 30px di spazio tra gli item */
}


.carousel {
    position: relative;
    width: 85vw; /* Imposta la larghezza al 60% della larghezza della finestra */
    height: 70vh; /* Imposta l'altezza al 40% dell'altezza della finestra */
    margin: 0 auto; /* Centra il carosello orizzontalmente */
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #fff 0%, black 100%);
    z-index: 1;
    mix-blend-mode: multiply;
}

.carousel-caption {
    font-size: 35px; /* Riduci la dimensione del testo */
    font-weight: bolder;
    color: orange;
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 2;

}

/* Centro anche i controlli del carosello (freccie) */
.carousel-control-prev,
.carousel-control-next {
    width: 30px;
}



/* Modifica le dimensioni del carosello per schermi piccoli */
/*@media all and (max-width: 767px) {
    .carousel {
        width: 90vw; /* Rende il carosello più largo su schermi piccoli */
        /*height: 30vh; /* Rende l'altezza del carosello più piccola su schermi piccoli */
    /*}

    /*.carousel-caption {
        font-size: 30px; /* Riduci il testo su schermi piccoli */
        
   /* }
}*/

.card {

    height: 100%;
}

.autori {
    margin-left: 300px;
}

@media (max-width: 768px) {
    .single-card-row {
        height: 100vh; /* Altezza pari a tutta l'altezza della finestra */
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 


@media (max-width: 767px) {
    #searchForm {
      display: none;
    }

    #searchButton {
      display: none;
    }

    #searchButton.active {
      display: inline-block;
    }

    /* Quando il menu è attivo e viene cliccato la barra di ricerca compare */
    #searchForm.active {
      display: flex;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 80%;
      transition: all 0.3s ease;
    }

    #menu .navbar-toggler {
      display: inline-block;
    }
  }

  /* Navbar logo sempre visibile */
  #menulogo .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    width: auto;
    max-height: 50px;
  }

  /* Icone navbar */
  .nav-link i {
    font-size: 1.5rem;
  }

  /* Aggiungi una classe per i dropdown del mobile */
  @media (max-width: 767px) {
    #navbarSupportedContent2 {
      display: none;
    }

    #navbarSupportedContent2.active {
      display: block;
    }

    .navbar-toggler {
      display: block;
    }
  }





  
